.panel {
  width: 20%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 15px;
  background: #c2c2c2;
}

.input > input {
  display: block;
  height: 50px;
  padding: 15px;
}

.react-select-box-container {
  height: 50px;
}
